<%- include('../partials/header') %>

    <div class ="orders">
        <div class="orderData">
            <button class="orderbtn1">Order List</button>
            <button class="orderbtn2">Order Status</button>
        </div>
        <div class="orderBody">

        </div>
    </div>

    <%- include('../partials/footer') %>