
</div>
</div>
</div>
</div>
<script>
    const customerButton = document.getElementById('customerbutton')
    customerButton.addEventListener("click", function(){
        window.location.href = "/admin/customers";
    })
    const productButton = document.getElementById('productbutton')
    productButton.addEventListener("click", function(){
        window.location.href = "/admin/products"
    })
    const dashboardButton = document.getElementById('dashboardbutton')
    dashboardButton.addEventListener("click", function(){
        window.location.href = "/admin"
    })
    const ordersButton = document.getElementById('ordersbutton')
    ordersButton.addEventListener("click", function(){
        window.location.href = "/admin/orders"
    })
    const categoryButton = document.getElementById('categorybutton')
    categoryButton.addEventListener("click", function(){
        window.location.href = "/admin/category"
    })

</script>
</body>

</html>