<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookShelf</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/<%= title %>.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <h4>bookShelf</h5>
            </div>
            <div class="btn_action">
                <button id="dashboardbutton">Dashboard</button>
                <button id="customerbutton">Customers</button>
                <button id="productbutton">Products</button>
                <button id="ordersbutton">Orders</button>
                <button id="categorybutton">Category</button>
            </div>
        </div>
        <div class="content">
            <div class="content-head">
                <div class="welcome">
                    <h2>Welcome ADMIN</h2>
                </div>
                <div class="profile"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="bisque" class="profile-logo">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg></div>

            </div>
            <div class="content-body">
                <div class="extends">
        

                    